body, html {
    margin: 0;
    padding: 0;
}
html {
    scroll-behavior: smooth;
    
}
.atasan {
    position: fixed;
    font-family: cursive;
    z-index: 3;
}

.atasan a {
    color: #d36135 !important;
}

.bg-custom  {
    background-color: rgb(255, 255, 255);
}

.custom-toggler.navbar-toggler {
    border-color: rgb(211, 97, 53);
}

.custom-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(211, 97, 53, 0.7)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.warna {
    color: #d36135;
}

.border { 
    border-bottom: 3px solid #d36135 !important;
}

.nav-item a {
    width: 25%;
}
.nav-item a:hover {
    border-radius: 10px;
    width: 25%;
    text-shadow: 5px 5px 5px rgb(0, 0, 0, 0.7);
    color: white !important;
    background-color: #d36135;

}
.collapse {
    z-index: 10;
}

.box {
    position: relative;
    z-index: 2;
    min-width: 100%;
    min-height: 100%;
    background: #0f0a0a;
    padding-top: 70px;

}

.bagian1 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
}

.video-container video {
    min-height: 100%;
    min-width: 100%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto;
    height: auto;
    z-index: 1;
}

.konten-header div {
    position: relative;
    z-index: 2;
    text-align: center;
    vertical-align: middle;
    display: flex;
    flex-direction: column;
    font-family: 'Vast Shadow', cursive;
}


.konten-header h1  {
    text-align: center;
    vertical-align: middle;
    font-size: 5rem;
    z-index: 2;
    color: white;
}

.konten-header h2  {
    text-align: center;
    vertical-align: middle;
    font-size: 4rem;
    z-index: 2;
    font-family: 'Titillium Web', sans-serif;
}

.jarak {
    padding-top: 50px;
}

@media screen and (max-width: 600px) {
    .konten-header h1 {
        font-size: 2rem;
    }
    .konten-header h2 {
        font-size: 1rem;
    }
  }

.konten-header {
    position: absolute;
    z-index: 2;
    background: rgb(0, 0, 0, 0.5);
    top:76px;
    /* top: 0; */
    bottom: 0;
    right: 0;
    left: 0;
}

.konten-header div {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100vh;
    z-index: 2;
}

.bagian2 {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    color: #2af5ff;
    font-family: 'Titillium Web', sans-serif;
    
}

.my-col {
    /* border: 1px solid red; */
    /* height: 250px; */
}

.my-row {
    /* border: 2px dotted blue; */

}

.judul {
    display: flex;
    /* flex-direction: column; */
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    height: 145px;
    justify-content: center;
    align-items: center;
}

.judul h1 {
    font-size: 65px;
    text-shadow: 5px 5px 5px #ebb3a9;
    color: white;
}

.profil-cell {
    /* border: 1px solid red; */
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.profil-cell img {
    border-radius:  10px;
    height: 350px;
}

.deskripsi-cell {
    /* border: 1px solid red; */
    height: 450px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.judul-desk-cell {
    /* border: 1px solid red; */
    height: 50px;
}

.judul-desk-cell h2 {
    border-bottom: 1px solid #d36135;
}

.isi-desk-cell {
    /* border: 1px solid red; */
    height: 350px;
    color: white;
    text-align: justify;
}


.pekerjaan-cell {
    /* border: 1px solid red; */
    height: 110px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.bagian3 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    color: #2af5ff;
    /* background-color: #ebb3a9; */
    font-family: 'Titillium Web', sans-serif;
}

.bagian3 .img-container {
    background-image: url("img/ales-nesetril-Im7lZjxeLhg-unsplash.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat; 
    min-width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.bagian3 .over-layer {
    padding: 70px;
    background-color: rgb(235, 179, 169, 0.3);
    width: 100%;
    height: 100%;
    position: relative;
    z-index: 2;
}

.bagian3 .judul h1 {
    color: #2af5ff;
    text-shadow: 5px 5px 5px black;
}

.center-element-box {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 175px;
}

.row{
    display:flex;
    align-items:center;
}

div.progress{
    margin:0;
    /* width: 100% */
}  

.bagian3 .container img {
    height: 100px;
    display: flex;
    align-items: center;    
    justify-content: center;
}

.bg-python {
    background-color: rgb(206, 206, 10); 
}

.bg-java {
    background-color: #f3831a;
}

.bg-css {
    background-color: rgb(36, 145, 255);
}

.border-row {
    border-left: #d36135 2px dotted;
}

.bagian3 .judul-desk-cell {
    height: 100px;
    padding: 0 20px;
}

.bagian3 .judul-desk-cell h2 {
    font-size: 50px;
    padding: 0 20px;
}

.bagian3 .isi-desk-cell {
    /* border: 1px solid red; */
    height: 350px;
    color: white;
    text-align: justify;
}

.bagian3 .isi-desk-cell h4 {
    font-size: 30px;
}

.bg-dark-50 {
    background-color: rgb(15, 10, 10, 0.3)
}

.bagian4 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    color: #2af5ff;
    background-color: #ebb3a9;
    font-family: 'Titillium Web', sans-serif;
}

.bg-oren {
    background-color: #d36135; 
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.bg-cream {
    background-color: #ebb3a9; 
    height: 100vh;
}

.bagian4 .judul-contact-cell h1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon{
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-icon img{
    height: 70px;
}

.bagian4 .judul h1 {
    font-size: 80px;
    text-shadow: 5px 5px 5px black;
}

.bagian4 .profil-cell img {
    height: 400px;
}

.copyright {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 50px;
    z-index: 2;
    color: white;
    background-color: #0f0a0a;
    font-family: 'Titillium Web', sans-serif;
}

.bagian5 {
    padding-top: 0;
    padding-bottom: 0;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    z-index: 2;
    color: #2af5ff;
    font-family: 'Titillium Web', sans-serif;

}

.bg-biru {
    padding: 70px;
    background-color:rgb(42, 245, 255,0.5);
    width: 100%;
    height: 100vh;
    position: relative;
    z-index: 2;
}

.bagian5 .judul h1 {
    color: white;
    text-shadow: 5px 5px 5px black;
    
}

.center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* height: 200px; */
}

.center img {
    border-radius: 25px;
    height: 150px;
}

.center h2 {
    color: #d36135;
    height: 50px;
    font-size: 40px;
    padding-top: 15px;
}

.center small {
    color: rgb(15, 10, 10, 0.5);
    font-size: 25px;
    padding: 10px 0;
}

#experience .box {
    background-color: transparent;
}

.bagian4 .margin-custom {
    margin-top: 25px;
}

.bagian4 a {
    text-decoration: none;
}

.tombol-saran {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 90px;
    text-align: center;
    border: #2af5ff 1px solid;
    border-radius: 20px;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
}

.tombol-saran:hover {
    background-color: #2af5ff;
    color: white;
}

.close-button img {
    height: 60px;
    /* box-shadow: 4px 4px 5px grey; */
}

.close-button img:hover {
    height: 60px;
    box-shadow: 4px 4px 5px grey;
}


.saran {
    height: 100vh;
    width: 100%;
    vertical-align: middle;
}

.saran label {
    font-size: 30px;
    text-align: center;
    width: 45%;
    padding-right: 80px; 

}

.saran input {
    font-size: 20px;
    text-align: left;
    width: 45%;
}

.saran select {
    font-size: 20px;
    text-align: left;
    width: 45%;
    /* border: #2af5ff 1px solid; */
}

.saran textarea {
    font-size: 20px;
    text-align: left;
    width: 45%;
    /* border: #2af5ff 1px solid; */
}

.saran .button-submit {
    font-size: 20px;
    width: 20%;
    text-align: center;
    background-color: #d36135;
    border-radius: 25px;
    color: white
}

.saran .button-submit:hover {
    background-color: white;
    border-radius: 25px;
    color: #d36135;

}

.form {
    border-radius: 5px;
    background-color: #ebb3a9;
    padding: 10px;
}

.margin-custom {
    margin: 10px 0;
    vertical-align: middle;
}

#button-submit-id {
    margin: 10px 0;
    width: 100%;
    
}

.background {
    background-color: rgb(15, 10, 10, 0.8); 
}